@import "tailwindcss";

:root {
  --background: #d1dee4;
  --surface: #ffffff;
  --foreground: #1b282e;
  --muted: #5f6f78;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b282e;
    --surface: #24353e;
    --foreground: #ffffff;
    --muted: #c2c2c2;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
}

html, body {
  height: 100%;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
