@import "tailwindcss";

:root {
  --background: #d1dee4;
  --surface: #ffffff;
  --foreground: #1b282e;
  --muted: #5f6f78;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b282e;
    --surface: #24353e;
    --foreground: #ffffff;
    --muted: #c2c2c2;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .bg-hero-pattern {
    background-image: url('/assets/bg-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .bg-hero-pattern {
      background-image: url('/assets/bg.svg');
    }
  }
}
